$base-font-family: Arial, sans-serf;
$base-font-weight: 300;

$sgl-base-font-size: 16;
$sgl-base-line-height: 20;
$sgl-base-unit: px;
$sgl-scale-factor: 1.618;
// $sgl-debug-mode;
$sgl-extras: false;
